/* general apply */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* colors */
html {
  --main: white;
  --secondary: black;


  /* --main: black; */
  /* --secondary: white; */

  --fSize0: 4rem;
  --fSize1: 2.7rem;
  --fSize2: 2.5rem;
  --fSize3: 2.1rem;
  --fSize4: 1.6rem;

  --paddingSize: 4px;
  --radiusSize: calc(var(--paddingSize) * 2.5);
}

/* main applies */
body {
  background-color: var(--main);
  color: var(--secondary);
}

button {
  background-color: var(--main);
  color: var(--secondary);

  padding: var(--paddingSize);
  border-radius: var(--radiusSize);
  font-size: var(--fSize3);
  font-weight: bold;
  cursor: pointer;
}

button:hover {

  color: var(--main);
  background-color: var(--secondary);

}

/* center elements horizontally */
#buttonContainer,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h1 {
  font-size: var(--fSize1);
}

h2 {
  font-size: var(--fSize2);
}


h3,p,li {
  font-size: var(--fSize3);
}


blockquote{

  font-size: var(--fSize4);
  
}
header span {
  font-size: var(--fSize0)
}


/* individual changes */

header {
  border-bottom: 2px solid var(--secondary);
  height: 10vh;
}

#floaty, .date,  .chapterShower{
  position: fixed;
  border: 2px solid var(--secondary);
  background: var(--main);
  padding: var(--paddingSize);
  border-radius: var(--radiusSize);
  top: var(--paddingSize);
  font-size: var(--fSize3);
}

#floaty{
  left: calc(var(--paddingSize) * 0.7);
 
}

.date {
  width: 15vw;
  right: calc(var(--paddingSize) * 0.7);
}

.chapterShower{
  right: 50;
  width: 70vw;
  height: 9vh;
  text-align: center;
  font-size: var(--fSize2);
}

#buttonContainer {
  gap: var(--paddingSize);
  margin-top: var(--paddingSize);
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  --widthSize: 54vw;
  width: var(--widthSize);
  height: calc(var(--widthSize) * .6);
  border-radius: var(--radiusSize);
}
